body {
    background-color: lightslategrey;
}

.info, .resume, .Project-1, .Project-2 {
    color: white;
    margin-top: 75px;
    text-align: center;
}

#small-resume {
    height: 800px;
    width: 650px;
}

#BYOW {
    height: 600px;
    width: 800px;
}

.image-BYOW {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image-BYOW img {
    height: 40%;
    width: 40%; 
    margin-right: 10px;
}

.image-NGordNet img {
    height: 40%;
    width: 40%; 
    margin-right: 10px;
}

.image-NGordNet {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
